@model IEnumerable<Chartypaltform.Models.Campaign>

<section class="ftco-section bg-light">
    <div class="container-fluid">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-5 heading-section ftco-animate text-center">
                <h2 class="mb-4">Our Causes</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="carousel-cause owl-carousel">
                    @foreach (var campaign in Model)
                    {
                        <div class="item">
                            <div class="cause-entry">
                                <a asp-action="Details" asp-controller="Organization" asp-route-id="@campaign.UserId"
                                   class="img"
                                   style="background-image: url('@campaign.CampaignImg');">
                                </a>
                                <div class="text p-3 p-md-4">
                                    <h3><a href="@Url.Action("Details", "Campaign", new { id = campaign.CampaignId })">@campaign.CampaignName</a></h3>
                                    <p>@campaign.CampaignDes</p>
                                    <div class="progress custom-progress-success">
                                        @{
                                            var progressPercentage = (campaign.CurrentAmountRaised / campaign.GoalAmount) * 100;
                                        }
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: @progressPercentage%"
                                             aria-valuenow="@campaign.CurrentAmountRaised"
                                             aria-valuemin="0"
                                             aria-valuemax="@campaign.GoalAmount">
                                        </div>
                                    </div>
                                    <span class="fund-raised d-block">@campaign.CurrentAmountRaised raised of @campaign.GoalAmount</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
