@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> _signInManager;
 @inject UserManager<ApplicationUser> _userManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - HopeGivers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,400i,600,700" rel="stylesheet">

    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <link rel="stylesheet" href="~/css/aos.css">

    <link rel="stylesheet" href="~/css/ionicons.min.css">

    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">
   
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">HopeGivers</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    @await Component.InvokeAsync("Menu")
                    @if (_signInManager.IsSignedIn(User))
                    {
                        var user = await _userManager.FindByEmailAsync(User.Identity.Name); // Get the logged-in user
                        if (user != null)
                        {
                            // Check if the user is in the Organization role
                            if (await _userManager.IsInRoleAsync(user, "Organization"))
                            {
                                // Cast to CharityOrganization to access registration status
                                var organizationUser = user as CharityOrganization;
                                if (organizationUser != null)
                                {
                                    if (organizationUser.registration_status == RegistrationStatus.Approved)
                                    {
                                        // Show organization-specific navigation for approved organizations
                                        <li class="nav-item active">
                                            <form asp-controller="Account" asp-action="Logout" method="post" class="nav-item">
                                                @Html.AntiForgeryToken()
                                                <button type="submit" class="nav-link btn btn-link">
                                                    Logout
                                                </button>
                                            </form>
                                        </li>
                                    }
                                    else if (organizationUser.registration_status == RegistrationStatus.Pending)
                                    {
                                        // If the organization status is pending, do not show logout option, show login/register instead
                                        <li class="nav-item active">
                                            <span class="nav-link">Your organization status is pending. Please wait for approval.</span>
                                        </li>
                                    }
                                    else if (organizationUser.registration_status == RegistrationStatus.Rejected)
                                    {
                                        // Handle rejected organizations
                                        <li class="nav-item active">
                                            <span class="nav-link">Your organization has been rejected. Contact support.</span>
                                        </li>
                                    }
                                }
                            }
                            else if (await _userManager.IsInRoleAsync(user, "Donor"))
                            {
                                // Show donor-specific navigation
                                <li class="nav-item active">
                                    <form asp-controller="Account" asp-action="Logout" method="post" class="nav-item">
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="nav-link btn btn-link">
                                            Logout
                                        </button>
                                    </form>
                                </li>
                            }
                           
                        }
                    }
                    else
                    {
                        // Not signed in: Show Login and Register options
                        <li class="nav-item active">
                            <a asp-action="Login" asp-controller="Account" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" id="registerDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Register
                            </a>
                            <div class="dropdown-menu" aria-labelledby="registerDropdown">
                                <a class="dropdown-item" href="register_donor.html">Donor</a>
                                <a class="dropdown-item" href="register_organization.html">Organization</a>
                            </div>
                        </li>
                    }

                </ul>
            </div>

          
        </div>
    </nav>
  


    @if (ViewBag.ShowHeroSection != null && (bool)ViewBag.ShowHeroSection)
    {
        <div class="hero-wrap" style="background-image: url('@Url.Content("~/images/bg_7.jpg")');" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                    <div class="col-md-7 ftco-animate text-center" data-scrollax="properties: { translateY: '70%' }">
                        <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Doing Nothing is Not An Option of Our Life</h1>
                        <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="https://vimeo.com/45830194" class="btn btn-white btn-outline-white px-4 py-3 popup-vimeo"><span class="icon-play mr-2"></span>Watch Video</a></p>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_notification.cshtml" />

            @RenderBody()
        </main>
    </div>

 <footer class="ftco-footer ftco-section img">
        <div class="overlay"></div>
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-3">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">About Us</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="ftco-footer-widget mb-4 ml-md-4">
                        <h2 class="ftco-heading-2">Site Links</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Home</a></li>
                            <li><a href="#" class="py-2 d-block">About</a></li>
                          
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </footer>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    @RenderSection("Scripts", required: false)  <!-- Add this line -->

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/jquery.timepicker.min.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/js/google-map.js"></script>
    <script src="~/js/main.js"></script>

    
</body>
</html>