@model IEnumerable<Chartypaltform.ViewModels.VolunteerListViewModel>

@{
    ViewData["Title"] = "Volunteers List";
}

<h1>Volunteers List</h1>


<form asp-action="VolunteersList1" method="get">
    <div>
        <label for="searchTerm">Search:</label>
        <input type="text" name="searchTerm" value="@ViewData["SearchTerm"]" />
    </div>
    <div>
        <label for="minAge">Min Age:</label>
        <input type="number" name="minAge" value="@ViewData["MinAge"]" />
    </div>
    <div>
        <label for="maxAge">Max Age:</label>
        <input type="number" name="maxAge" value="@ViewData["MaxAge"]" />
    </div>
    <div>
        <label for="gender">Select Gender:</label>
        @Html.DropDownList("selectedGender", new SelectList(new List<SelectListItem>
        {
        new SelectListItem { Value = "", Text = "All" },
        new SelectListItem { Value = "Male", Text = "Male" },
        new SelectListItem { Value = "Female", Text = "Female" },
        new SelectListItem { Value = "Other", Text = "Other" }
        }, "Value", "Text", ViewData["SelectedGender"]), "All", new { @id = "gender" })
    </div>
    <button type="submit">Filter</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Volunteer Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Available From</th>
            <th>Available To</th>
            <th>Tasks</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var volunteer in Model)
        {
            <tr>
                <td>@volunteer.UserName</td>
                <td>@volunteer.Age</td>
                <td>@volunteer.Gender</td>
                <td>@volunteer.AvailableFrom.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@volunteer.AvailableTo.ToString("yyyy-MM-dd HH:mm")</td>
                <td>
                    <ul>
                        @foreach (var task in volunteer.SelectedTasks)
                        {
                            <li>@task</li>
                        }
                    </ul>
                </td>
                <td>@volunteer.Address</td>
            </tr>
        }
    </tbody>
</table>
